# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Databases
*.db
lelana.db*

# Testing
.pytest_cache/
.coverage

# Environment variables
.env

# Logs & uploads
logs/
uploads/

# Migrations
migrations/

# Editor / IDE
.vscode/

# Documentation
documentation/
ai/